<nav id="sections-sidebar" class="section-sidebar">
  <ul>
    <li>World</li>
    <li class="dropdown">San Francisco
           <ul>
         <div class="arrow-left"></div>
            <li>San Francisco</li>
            <li>Students</li>
            <li>Teaching Assistants</li>
            <li>Instructors</li>
            <li>Career Advisors</li>
            <li>Cats</li>
        </ul>
      </li>
    <li>New York</li>
    <li class="dropdown">Bootcamp Prep
        <ul>
    <div class="arrow-left"></div>
           <li> Bootcamp Prep </li>
            <li>Students</li>
            <li>Cats</li>
            <li>Instructors</li>
        </ul>
    </li>
    <li>Jumpstart</li>
    <li class="dropdown">Online
      <ul>
    <div class="arrow-left"></div>
        <li>Online</li>
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>
    </li>
    <li>Marketing</li>
    <li class="dropdown">Sales
      <ul>
    <div class="arrow-left"></div>
        <li>Sales</li>
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul>
    </li>
    <li>TalentMatch</li>
    <li class="dropdown">Alumni
      <ul>
       <div class="arrow-left"></div>
        <li>Alumni</li>
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
    </li>
    <li ><a id="Allnav" href="#">All</a></li>
  </ul>
</nav>






       

            

            